
body{
    margin: auto;
    background-image: url(Images/CelebImages/image\ background.jpeg);
}

.ListOFNames{
    
}

.container{
    
}

#audiosZodiac2{
    display:inline-flex;
}

audio{
    width: 200px;
    
}

h1{
    color:white;
    font-weight: bold;
    text-shadow: blue;
    font-size: 40px;
    text-align: center;
    font-family: 'Lucida Sans' ;
    align-items: center;
}

.Audios{
    padding: 15px;
    
    
}



.AudiosCeleb{
    padding: 15px;
    display: grid;
    place-items: center ;
    
    
    
    
}
.QuestionAnswer{
    display: flex;
}

.QuestionAnswerText{
    border: 2px;
    border-color: blueviolet;
}
.AudiosBibleBookNames {
    padding: 15px;
    display: grid;
    place-items: center ;
    
}


button{
    border-radius: 15px;
    width: 200px;
    height: 35px;
    padding: 10px;
    background-color: blue;
    color: antiquewhite;
    text-align: center;
    margin: auto;
    display: block;
}

.Translation{
    border-radius: 15px;
    width: 80px;
    height: 45px;
    
    background-color: brown;
    color: antiquewhite;
    text-align: center;
    border: 1px;
    

}

/* the 2nd method for pop up message by Florin Pop YT channel */
button:active {
    opacity:0.8
}

.modall{
    background-color: rgba(0, 0, 0, .3);
    opacity: 0;
    position: fixed;
    top:0;
    left: 0;
    right: 0;
    bottom: 0;
    transition: all 0.3s ease-in-out;
    z-index: -1;

    display: flex;
    align-items: center;
    justify-content: center;

}

.modall.open {
    opacity: 1;
    z-index: 999;
}

.modal-inner {
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 1px 4px rgba(0, 0, 0, .3);
    padding: 15px 25px;
    text-align: center;
    width: 380px;
    position: fixed;
    top:50%;
    left: 50%;
    translate: -50% -50%;
   

}

.modal-inner h2 {
    margin: 0;
}

.modal-inner p{
    line-height: 24px;
    margin: 10px 0;


}




.NameBlock{
    padding: 2px;
    display: flex;
    justify-content: center;
    align-items: center;  
   
}

.dropdownAudios{

    display: flex;


}

.culture{
    display: flex;
}

ul {
    display: flex;
    margin: auto;
    place-items: center ;


}


ul audio {
    display: flex;
    margin: auto;
    place-items: center ;

}



img{
   height: 80px;
   width: 80px ;
   border-radius: 80%;
   border: 8px solid red
}
h3
{
    color: white;
}

h2{
    color: white;

}

.dropdown__button, .dropdown__button2,  .dropdown__button3, .dropdown__button4 , .dropdown__button5,  .dropdown__button6, .dropdown__button7,
.dropdown__button8,  .dropdown__button9,  .dropdown__button10,  .dropdown__button11,  .dropdown__button12,  .dropdown__button13,  .dropdown__button14,
.dropdown__button15, .dropdown__button16, .dropdown__button17, .dropdown__button18, .dropdown__button19, .dropdown__button20, .dropdown__button21,
.dropdown__button22, .dropdown__button23, .dropdown__button24, .dropdown__button25, .dropdown__button26, .dropdown__button27, .dropdown__button28, .dropdown__button29, .dropdown__button30, .dropdown__button31, .dropdown__button34, .dropdown__button35 {
  font-family: 'Josefin Sans', sans-serif;

  font-size: 15px;

  background-color: gray;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  

}


/* .dropdown__button{
    font-family: 'Josefin Sans', sans-serif;

      background-color: grey;
      border: none;
      border-radius: 3px;
      cursor: pointer;
      width: 500px;
      height: 50px;
  } */




.hide, .hide2, .hide3, .hide4, .hide5, .hide6, .hide7, .hide8, .hide9, .hide10,
.hide11, .hide12, .hide13, .hide14, .hide15, .hide16, .hide17, .hide18,  .hide19,  .hide20,  .hide21, .hide22, .hide23, .hide24,
.hide25, .hide26,  .hide27, .hide28,  .hide29,  .hide30,  .hide31, .hide32 , .hide33, .hide34, .hide35 {
    display:none;
}

.dropdown__menu, .dropdown__menu2, .dropdown__menu3, .dropdown__menu4, .dropdown__menu5, .dropdown__menu6, .dropdown__menu7,  .dropdown__menu8,  .dropdown__menu9,  .dropdown__menu10,
.dropdown__menu11,  .dropdown__menu12,  .dropdown__menu13,  .dropdown__menu14,   .dropdown__menu15,   .dropdown__menu16,   .dropdown__menu17,   .dropdown__menu18, .dropdown__menu19, 
.dropdown__menu20, .dropdown__menu21, .dropdown__menu22, .dropdown__menu23, .dropdown__menu24,  .dropdown__menu25,  .dropdown__menu26 , .dropdown__menu27, .dropdown__menu28,
.dropdown__menu29, .dropdown__menu30, .dropdown__menu31, .dropdown__menu34, .dropdown__menu35 {
   border: solid 1px grey;
   width: 500px;}





