
body{
    margin: auto;
    background-image: url(Images/CelebImages/image\ background.jpeg);
}

#audiosZodiac2{
    display:inline-flex;
}

h1{
    color:white;
    font-weight: bold;
    text-shadow: blue;
    font-size: 45px;
    text-align: center;
    font-family: 'Lucida Sans' ;
    align-items: center;
}

.Audios{
    padding: 15px;
    
    
}

.AudiosZodiacSigns{

}

.AudiosCeleb{
    padding: 15px;
    display: grid;
    place-items: center ;
    
    
}

.AudiosBibleBookNames {
    padding: 15px;
    display: grid;
    place-items: center ;
    
}


button{
    border-radius: 15px;
    width: 400px;
    height: 35px;
    padding: 10px;
    background-color: blue;
    color: antiquewhite;
    text-align: center;
    margin: auto;
    display: block;
}

.Translation{
    border-radius: 15px;
    width: 50px;
    height: 45px;
    
    background-color: brown;
    color: antiquewhite;
    text-align: center;
    border: 1px;
    

}

.modal{
    position: fixed;
    top: 50%;
    left:50%;
    transform: translate(-50%, 50%) scale(0);
    transition: 200ms ease-in-out;
    border: 1px solid black;
    border-radius: 10px;
    z-index: 10;
    background-color: whitesmoke;
    width: 500px;
    max-width: 80%;
}

.modal.active{
    transform: translate(-50%, 50%) scale(1);
}

.modal-header{
    padding: 10px 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid black;
}

.modal-header .title{
    font-size: 1.25rem;
    font-weight: bold;
}

.modal-header .close-button {
    color: black;
    cursor:pointer;
    border:none;
    outline:none;
    background:none;
    font-size: 1.25rem;
    font-weight: bold;

}

.modal-body{
    padding: 10px 15px;
}

#overlay{
    position: fixed;
    opacity: 0;
    transition: 200ms ease-in-out;
    top:0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, .5);
    pointer-events: none;
}

#overlay.active{
    opacity: 1;
    pointer-events: all;

}




.NameBlock{
    padding: 2px;
    display: flex;
    justify-content: center;
    align-items: center;  
}

.dropdownAudios{

    display: flex;


}

.culture{
    display: flex;
}


ul audio {
    display: flex;
}



img{
   height: 80px;
   width: 80px ;
   border-radius: 80%;
   border: 8px solid red
}
h3
{
    color: white;
}





