h1{
    color:blue;
    font-weight: bold;
    text-shadow: blue;
    font-size: 45px;
    text-align: center;
    font-family: 'Lucida Sans' ;
}

body{
  
}

.Audios{
    padding: 15px;

    
    margin: auto;
    
    
}

.AudiosCeleb{
    padding: 15px;

    
}

button{
    display: block;
    width: 400px;
    height: 35px;
    padding: 10px;
    background-color: blue;
    color: antiquewhite;
    border-radius: 15px;
    place-content: ce;
    margin: auto;
}


.NameBlock{
    padding: 2px;
    display: flex;
    justify-content: center;
    align-items: center;


  

    
    

}

.Culture{
    display: flex;
}

.dropdownAudios{

    display: flex;


}


ul audio {
    display: flex;

}

.celebImgBox{
    width: 20px ;
    height: 20px; ;
}

a{  padding: 15px;
    display: flex;
    display: grid;
    height: 25px;
    width: 190px;
    background: blue;
    text-align: center;
    margin: auto;
    color: aliceblue;
    border-radius: 5px;
    text-decoration: none;
    place-items: centre ;
 }


.AnchorButtons {
    padding: 50px;
}




